Kivy==2.3.1
docutils==0.22.4
filetype==1.2.0
idna==3.16
packaging==26.2
pillow==10.4.0
Pygments==2.20.0
requests==2.32.5
certifi==2026.5.20
charset-normalizer==3.4.7
urllib3==2.6.3
Kivy-Garden==0.1.5
pytest==8.4.0